<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your order's №<%= @order.id %> status has been changed to <%= @state %></p>
  </body>
</html>